<div class="row join-us-container" id="get-involved">
    <div class="container text-center">
        <p class="join-us-content">Are you interested in Oniro? <br>Contact us to find out how you can get involved in this proposed working group.</p>
        <p><a class="btn btn-primary" href="/join-us">Contact us to Join</a></p>
    </div>
</div>