<div class="row initiating-members-container" id="initiating-members">
    <div class="container text-center">
        <h2>Supporters</h2>
        <ul class="list-inline initiating-members-logos">
            <li><span class="circle"><img style="padding: 15px 20px 0;" class="img-responsive" src="images/members/huawei.jpg" alt="Huawei"></span></li>
            <li><span class="circle"><img style="padding: 30px 15px;" class="img-responsive" src="images/members/seco-logo.png" alt="SECO"></span></li>
            <li><span class="circle"><img style="padding: 40px 15px;" class="img-responsive" src="images/members/linaro-logo.png" alt="Linaro"></span></li>
            <li><span class="circle"><img style="padding: 40px 15px;" class="img-responsive" src="images/members/noi_logo.png" alt="NOI"></span></li>
            <li><span class="circle"><img style="padding: 55px 15px;" class="img-responsive" src="images/members/synesthesia.png" alt="Synesthesia"></span></li>
        </ul>
    </div>
</div>